<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de clientes</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!--Impedir a execução de scripts externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>

<body>
    <div class="container">
        <form id="frmClient" class="mt-2 row g-3">
            
            <!--Buscar cliente-->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-dark" id="btnRead" onclick="buscarCliente()">Buscar</button>
            </div>
            
            <!--Linha-->
            <hr class="mt-4 border border-primary border -1">

            <!--Id do cliente (oculto)-->
            <input type="text" id="idClient">

            <!--Nome do cliente-->
            <div class="col-md-8">
                <label for="inputNameClient" class="form-label">Nome</label>

                <input type="text" class="form-control" id="inputNameClient" required spellcheck="false" maxlength="26">
            </div>

            <!--CPF do cliente-->
            <div class="col-md-4">
                <label for="inputCPFClient" class="form-label">CPF</label>

                <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" maxlength="30">
            </div>

            <!--Email-->
            <div class="col-md-6">
                <label for="inputEmailClient" class="form-label">Email</label>

                <input type="email" class="form-control" id="inputEmailNameClient" required spellcheck="false"
                    maxlength="30">
            </div>

            <!--Telefone-->
            <div class="col-md-4">
                <label for="inputIPhoneClient" class="form-label">Telefone</label>

                <input type="tel" class="form-control" id="inputIPhoneClient" required spellcheck="false"
                    maxlength="15">
            </div>

            <!--CEP-->
            <div class="col-md-2">
                <label for="inputCEPClient" class="form-label">CEP</label>

                <input type="tel" class="form-control" id="inputCEPClient" required spellcheck="false" maxlength="9"
                    onblur="buscarCEP()">
            </div>

            <!--Logradouro-->
            <div class="col-md-6">
                <label for="inputAddressClient" class="form-label">Logradouro</label>

                <input type="tel" class="form-control" id="inputAddressClient" required spellcheck="false"
                    maxlength="30">
            </div>

            <!--Numero-->
            <div class="col-md-3">
                <label for="inputNumberClient" class="form-label">Numero</label>

                <input type="tel" class="form-control" id="inputNumberClient" required spellcheck="false" maxlength="5">
            </div>

            <!--Complemento-->
            <div class="col-md-3">
                <label for="inputComplementClient" class="form-label">Complemento</label>

                <input type="tel" class="form-control" id="inputComplementClient" spellcheck="false" maxlength="12">
            </div>

            <!--Bairro-->
            <div class="col-md-5">
                <label for="inputNeighborhoodClient" class="form-label">Bairro</label>

                <input type="tel" class="form-control" id="inputNeighborhoodClient" required spellcheck="false"
                    maxlength="12">
            </div>

            <!--Cidade-->
            <div class="col-md-4">
                <label for="inputTSateClient" class="form-label">Cidade</label>

                <input type="tel" class="form-control" id="inputTSateClient" required spellcheck="false" maxlength="12">
            </div>

            <div class="col-md-3">
                <label for="inputUfClient" class="form-label">UF</label>
                <select required class="form-select" id="inputUfClient" name="UF">
                    <option value="">Selecione uma UF</option>
                    <option value="AC">AC - Acre</option>
                    <option value="AL">AL - Alagoas</option>
                    <option value="AP">AP - Amapá</option>
                    <option value="AM">AM - Amazonas</option>
                    <option value="BA">BA - Bahia</option>
                    <option value="CE">CE - Ceará</option>
                    <option value="DF">DF - Distrito Federal</option>
                    <option value="ES">ES - Espírito Santo</option>
                    <option value="GO">GO - Goiás</option>
                    <option value="MA">MA - Maranhão</option>
                    <option value="MT">MT - Mato Grosso</option>
                    <option value="MS">MS - Mato Grosso do Sul</option>
                    <option value="MG">MG - Minas Gerais</option>
                    <option value="PA">PA - Pará</option>
                    <option value="PB">PB - Paraíba</option>
                    <option value="PR">PR - Paraná</option>
                    <option value="PE">PE - Pernambuco</option>
                    <option value="PI">PI - Piauí</option>
                    <option value="RJ">RJ - Rio de Janeiro</option>
                    <option value="RN">RN - Rio Grande do Norte</option>
                    <option value="RS">RS - Rio Grande do Sul</option>
                    <option value="RO">RO - Rondônia</option>
                    <option value="RR">RR - Roraima</option>
                    <option value="SC">SC - Santa Catarina</option>
                    <option value="SP">SP - São Paulo</option>
                    <option value="SE">SE - Sergipe</option>
                    <option value="TO">TO - Tocantins</option>
                </select>
            </div>

            <!--Botões-->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="excluirCliente()">Delete</button>
                <button type="reset" class="btn mt-3" id="btnReset" onclick="resetForm()"></button>
            </div>
        </form>
    </div>

    <!--Bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Javascript Personalizado -->
    <script src="../public/js/script.js"></script>
    <script src="rendererCliente.js"></script>
</body>

</html>