<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
   
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Sobre a aplicação</h1>
                <p>Aplicação para cadastro de clientes e ordem de serviço para montagem de móveis.</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Detalhes do Projeto</h2>
                <p><strong>Versão:</strong> 1.0</p>
                <p><strong>Licença:</strong> MIT</p>
                <p><strong>Autor:</strong> Erica Viana</p>
                <p><strong>Descrição:</strong> Sistema desenvolvido para ajudar no gerenciamento de dados de clientes e
                    cadastro de ordem de serviço.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Funcionalidades</h2>
                <ul>
                    <li>Cadastro de clientes com campos essenciais como nome, endereço e contato.</li>
                    <li>Cadastro de ordem de serviço para montagem de móveis</li>
                    <li>Interface simples e intuitiva.</li>
                    <li>Armazenamento local dos dados (offline).</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>