@charset "UTF-8";

/** IMPORTAÇÃO DE FONTES OFF-LINE **/
@font-face {
    font-family: "Fredoka";
    src: url("../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf");
}

body {
    font-family: "Fredoka";
}

/* VARIÁVEIS PARA AS CORES DAS NOTAS */
:root {
    --amarelo: #fff68f;
    --azul: #add8e6;
    --verde: #90ee90;
    --rosa: #ffb6c1;
    --laranja: #ffa07a;
    --footer: #2b8cdb;
    --cinza: #6c757d;
}

/* BOTÕES NA TELA PRINCIPAL */
.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}

/* BOTÃO RESET */
#btnReset {
    width: 50px;
    height: 50px;
    background-image: url('../img/vassoura.png');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

/* LOGO */
#logo {
    position: fixed;
    bottom: 40px;
    right: 5px;
    border: none;
    cursor: none;
}

/* OCULTAR O CAMPO ID DO CLIENTE (NA PÁGINA CLIENTE DO SISTEMA) */
#idClient {
    display: none;
}

/* RODAPÉ */
footer {
    width: 100%;
    height: 45px;
    padding: 5px;
    background-color: var(--footer);
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

footer p {
    color: #fff;
    font-size: 1.25em;
}

/** SOBRE **/
#sobre h3 {
    color: var(--cinza);
    font-weight: 500;
}

/** LISTA SUSPENSA **/

.suggestion-list {
    position: absolute;
    background: white;
    list-style: none;
    padding: 0;
    margin-top: 0;
    max-width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
}

.suggestion-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestion-list li:hover {
    background-color: #f0f0f0;
}

/* BOTÃO BUSCAR OS */
#btnBuscaOS {
    margin-left: 200px;
}

.os-button {
    padding: 5px 12px;      /* Altura pequena, largura maior */
    border-radius: 5px;     /* Retângulo com cantos suaves */
    font-size: 16px;        /* Tamanho da fonte confortável */
    white-space: nowrap;    /* Impede quebra de linha */
    min-width: 110px;       /* Largura mínima opcional */
    display: inline-block;  /* Garante comportamento como botão */
    cursor: pointer;
}
